#wrap {min-width:1200px;}
header {padding:0.75rem 0;text-align:center;}

nav {border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
nav>ul {font-size:0;text-align:center;}
nav>ul>li {display:inline-block;font-size:0.8rem;line-height:2rem;border-left:1px solid #ddd;}
nav>ul>li:first-child {border-left:none;}
nav>ul>li>a {display:block;padding:0 2rem}

#main-visual {padding:10rem 0;background:#333;color:#fff;text-align:center;background:url(../img/main_visual01.jpg) no-repeat center center/cover}
#main-visual h2 {margin:0 0 1rem 0;font-size:1.5rem;}
#main-visual p {line-height:1.25}

.section {padding:5rem 0;text-align:center;}
.section h2 {margin:0 0 0.5rem 0;font-size:1.5rem;font-weight:500;}
.section p {margin:0 0 1rem 0;font-size:0.7rem;font-weight:300;}
.section figure img {width:100%;}
.section figure strong {display:block;margin:0.5rem 0 0.5rem 0;}
.section figure a {display:block;width:150px;margin:0 auto;border:1px solid #333;border-radius:0.25rem;line-height:1.5rem;font-size:0.7rem}

#content01 {background:#fff;}
#content01 figure {float:left;width:33.3333333%;padding:0 0.75rem;}

footer {padding:2.5rem 0;background:#f2f2f2;}
footer address, footer .sns, footer .link {float:left;padding:0 0.75rem;}

footer address {width:60%;font-size:0.7rem;line-height: 1.25;}
footer .link {width:20%;text-align:right}
footer .sns {width:20%;text-align:right}
footer .link select {padding:0 1rem;background:#333;color:#fff;}
footer .sns i {padding:0.2rem;background:#333;font-size:1.3rem;color:#f2f2f2;}

















